  .PlayerHandWrapper {
    flex-grow: 1;
    height: 80vh;
  }
  
  .PlayerName {
    color: #ffffff;
    display: inline-block;
    background: rgba(0,0,0,0.75);
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
  }