@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1A232E;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}

.gradient-01 {
    background-image: linear-gradient(
      270deg,
      hsl(295deg 76% 51%) 0%,
      hsl(284deg 70% 73%) 26%,
      hsl(257deg 70% 86%) 39%,
      hsl(202deg 92% 90%) 50%,
      hsl(215deg 77% 81%) 61%,
      hsl(221deg 73% 70%) 74%,
      hsl(220deg 76% 51%) 100%
    );
    filter: blur(125px);
  }
  
  .hero-gradient {
    background: linear-gradient(    
      97.86deg,
      #ffbd09 0%,
      #b634c7 53.65%,
      #c77934 100%
    );
  }
  
  .gradient-02 {
    position: absolute;
    width: 200px;
    height: 438px;
    top: 0px;
    right: 0px;
  
    background: #7aebfb;
    filter: blur(190px);
  }
  
  .glassmorphism {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .gradient-03 {
    position: absolute;
    width: 404px;
    height: 800px;
    left: 20%;
    top: 5%;
  
    background: rgba(149, 66, 232, 0.35);
    filter: blur(175px);
    transform: rotate(-114.2deg);
  }
  
  .gradient-04 {
    position: absolute;
    width: 304px;
    height: 100vh;
    left: 30%;
    top: 10%;
  
    background: rgba(45, 72, 152, 0.75);
    filter: blur(200px);
    transform: rotate(-53.13deg);
  }
  
  .gradient-05 {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.04) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  .feedback-gradient {
    position: absolute;
    width: 200px;
    height: 316px;
    left: 0px;
    top: 0px;
  
    background: #8d39a3;
    filter: blur(175px);
  }
  
  .footer-gradient {
    position: absolute;
    width: 500px;
    height: 100px;
    left: 37%;
    bottom: 0;
    background: #65c4fa;
    filter: blur(150px);
  }

  .head-text::before {
    content: "";
    display: flex;
    width: 4px;
    height: 100%;
    background: #65c4fa;
    margin-right: 12px;
  }

  .gameload {
    background: rgba(127, 70, 240, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
  }  

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 6px;
    background-color: #65c4fa;
    animation: load 1s ease-in infinite;
  }
  
  .circle:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  .circle:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  @keyframes load {
    0% {
      transform: translateY(0);
    }
  
    20% {
      transform: translateY(-12px);
    }
  
    40% {
      transform: translateY(0);
    }
  }

  .preloader {
    background-color: #1A232E;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    opacity: 1;
    z-index: 999999999;
    border-radius: 2.5%;
    justify-content: center;
    align-items: center;
  }
  
  .preloader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .container {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  .particle {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
  }
  .particle:nth-child(1) .sparkle {
    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;
  }
  .particle:nth-child(2) .sparkle {
    -webkit-animation-delay: 50ms;
    animation-delay: 50ms;
  }
  .particle:nth-child(3) .sparkle {
    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;
  }
  .particle:nth-child(4) .sparkle {
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
  }
  .particle:nth-child(5) .sparkle {
    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;
  }
  .particle:nth-child(6) .sparkle {
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
  }
  .particle:nth-child(7) .sparkle {
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
  }
  .particle:nth-child(8) .sparkle {
    -webkit-animation-delay: 350ms;
    animation-delay: 350ms;
  }
  .particle:nth-child(9) .sparkle {
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
  }
  .particle:nth-child(10) .sparkle {
    -webkit-animation-delay: 450ms;
    animation-delay: 450ms;
  }
  .particle:nth-child(11) .sparkle {
    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;
  }
  .particle:nth-child(12) .sparkle {
    -webkit-animation-delay: 550ms;
    animation-delay: 550ms;
  }
  .particle:nth-child(13) .sparkle {
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
  }
  .particle:nth-child(14) .sparkle {
    -webkit-animation-delay: 650ms;
    animation-delay: 650ms;
  }
  .particle:nth-child(15) .sparkle {
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
  }
  .particle:nth-child(16) .sparkle {
    -webkit-animation-delay: 750ms;
    animation-delay: 750ms;
  }
  .particle:nth-child(17) .sparkle {
    -webkit-animation-delay: 800ms;
    animation-delay: 800ms;
  }
  .particle:nth-child(18) .sparkle {
    -webkit-animation-delay: 850ms;
    animation-delay: 850ms;
  }
  .particle:nth-child(19) .sparkle {
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
  }
  .particle:nth-child(20) .sparkle {
    -webkit-animation-delay: 950ms;
    animation-delay: 950ms;
  }
  .particle:nth-child(21) .sparkle {
    -webkit-animation-delay: 1000ms;
    animation-delay: 1000ms;
  }
  
  .sparkle {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background: rgba(228, 249, 250, 0);
    will-change: transform, box-shadow, background-color;
    transform: rotate(45deg) scale(0.5) translateZ(0);
    -webkit-animation: explode 333ms;
    animation: explode 333ms;
    box-shadow: 0 0 0 0 #fde655;
  }
  
  @-webkit-keyframes explode {
    0% {
      background-color: #e4f9fa;
      transform: rotate(45deg) scale(1.2) translateZ(0);
      box-shadow: 0 0 0 0 #fde655;
    }
    40% {
      background-color: rgba(228, 249, 250, 0.1);
    }
    50% {
      transform: rotate(45deg) scale(1) translateZ(0);
      box-shadow: 0 0 0 10px #fde655;
      background-color: rgba(228, 249, 250, 0);
    }
    60% {
      box-shadow: 0 0 0 50px #d47946;
      transform: rotate(45deg) scale(0.5) translateZ(0);
    }
    70% {
      background-color: rgba(228, 249, 250, 0);
      box-shadow: 0 0 0 30px #7a2c1f;
    }
    100% {
      background-color: #7a2c1f;
      box-shadow: 0 0 0 0 #7a2c1f;
      transform: rotate(45deg) scale(0.25) translateZ(0);
    }
  }
  
  @keyframes explode {
    0% {
      background-color: #e4f9fa;
      transform: rotate(45deg) scale(1.2) translateZ(0);
      box-shadow: 0 0 0 0 #fde655;
    }
    40% {
      background-color: rgba(228, 249, 250, 0.1);
    }
    50% {
      transform: rotate(45deg) scale(1) translateZ(0);
      box-shadow: 0 0 0 10px #fde655;
      background-color: rgba(228, 249, 250, 0);
    }
    60% {
      box-shadow: 0 0 0 50px #d47946;
      transform: rotate(45deg) scale(0.5) translateZ(0);
    }
    70% {
      background-color: rgba(228, 249, 250, 0);
      box-shadow: 0 0 0 30px #7a2c1f;
    }
    100% {
      background-color: #7a2c1f;
      box-shadow: 0 0 0 0 #7a2c1f;
      transform: rotate(45deg) scale(0.25) translateZ(0);
    }
  }