.Minion {
    position: relative;
    width: 100px;
    height: 130px;
    background: #ffffff;
    border: 5px solid #616065;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 0px 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.MinionAwake {
  border: 2px solid green;
  box-shadow: 0px 0px 20px green;
}

.MinionAttack {
  position: absolute;
  padding: 8px 16px;
  background: orange;
  bottom: 2px;
  left: -10px;
  border-radius: 50%;
}

.MinionDefense {
  position: absolute;
  padding: 8px 16px;
  background: #bc3328;
  bottom: 2px;
  right: -10px;
  border-radius: 50%;
}

.MinionSleeping::before {
  content: 'z';
  position: absolute;
  top: 5px;
  right: 10px;
}
.MinionSleeping::after {
  content: 'z z';
  position: absolute;
  top: -15px;
  right: 7px;
  width: 5px;
  line-height: 0.7;
  text-indent: 5px;
}